language: r
cache:
  packages: true
  directories:
    - $HOME/julia
    - $HOME/.julia

env:
 - NOT_THE_JULIA_BINDIR=$HOME/julia/julia-1.6.1/bin

before_install:
  - mkdir -p $HOME/julia
  - if [[ $JULIA_BINDIR == *"julia-1.0"* ]] && ! [ -d $HOME/julia/julia-1.0.5 ]; then
      cd $HOME/julia;
      wget https://julialang-s3.julialang.org/bin/linux/x64/1.0/julia-1.0.5-linux-x86_64.tar.gz;
      tar -xzf julia-1.0.5-linux-x86_64.tar.gz;
      cd -;
    fi
  - if [[ $NOT_THE_JULIA_BINDIR == *"julia-1.6"* ]] && ! [ -d $HOME/julia/julia-1.6.1 ]; then
       cd $HOME/julia;
       wget https://julialang-s3.julialang.org/bin/linux/x64/1.6/julia-1.6.1-linux-x86_64.tar.gz;
       tar -xzf julia-1.6.1-linux-x86_64.tar.gz;
       cd -;
       export PATH=$PATH:$HOME/julia/julia-1.6.1/bin;
       export LD_LIBRARY_PATH="";
    fi

r:
  - 3.3.3
  - release
  - devel

r_packages:
  - covr

after_success:
  - if [[ $TRAVIS_R_VERSION_STRING == 'release' ]] && [[ $JULIA_BINDIR == *"1.6"* ]]; then
      Rscript -e 'covr::coveralls()';
    fi