export("juliaCall")
export("juliaEval")
export("juliaExpr")
export("juliaFun")
export("juliaImport")
export("juliaLet")
export("juliaUsing")
export("juliaGet")
exportClasses("JuliaObject")
exportClasses("JuliaArray")
exportClasses("JuliaStruct")
S3method(dim, JuliaArray)
S3method(juliaGet, JuliaObject)
S3method(print, JuliaObject)
S3method("$", JuliaStruct)
S3method("$<-", JuliaStruct)
S3method(length, JuliaArray)
S3method("[", JuliaObject)
S3method("[<-", JuliaObject)
S3method("[[", JuliaArray)
S3method("[[", JuliaStruct)
S3method("[[<-", JuliaArray)
S3method("[[<-", JuliaStruct)
