export("juliaCall")
export("juliaEval")
export("juliaExpr")
export("juliaFun")
export("juliaImport")
export("juliaLet")
export("juliaUsing")
export("juliaGet")
exportClasses("JuliaReference")
S3method(juliaGet, JuliaReference)
S3method(print, JuliaReference)
S3method(dim, JuliaReference)
S3method("$", JuliaReference)
S3method("$<-", JuliaReference)
S3method("[", JuliaReference)
S3method("[<-", JuliaReference)
S3method("[[", JuliaReference)
S3method("[[<-", JuliaReference)

