export("juliaCall")
export("juliaEval")
export("juliaExpr")
export("juliaFun")
export("juliaImport")
export("juliaLet")
export("juliaGet")
export("juliaPut")
export("juliaSetupOk")
exportClasses("JuliaProxy")
exportClasses("JuliaArrayProxy")
exportClasses("JuliaSimpleArrayProxy")
exportClasses("JuliaStructProxy")
S3method(dim, JuliaArrayProxy)
S3method(juliaGet, JuliaProxy)
S3method(print, JuliaProxy)
S3method(as.data.frame, JuliaProxy)
S3method("$", JuliaStructProxy)
S3method("$<-", JuliaStructProxy)
S3method(length, JuliaArrayProxy)
S3method("[", JuliaProxy)
S3method("[<-", JuliaProxy)
S3method("[", JuliaSimpleArrayProxy)
S3method("[[", JuliaArrayProxy)
S3method("[[", JuliaStructProxy)
S3method("[[<-", JuliaArrayProxy)
S3method("[[<-", JuliaStructProxy)
